---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <!-- Responsive grid: 1 column on mobile, 2 columns on desktop -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-8">
    <!-- Left Column -->
    <div class="space-y-8 lg:space-y-12">
      <div class="md:sticky md:top-8">
        <Header />
      </div>
    </div>

    <!-- Right Column -->
    <div class="space-y-8 lg:space-y-12">
      <About />
      <WorkExperience />
      <Projects />
    </div>
  </div>
</Layout>
